"<p align="center"><span style="font-size: x-large;"><strong><a href="http://bookstore.keene.edu/Catalogs/alumni/104.aspx"><span style="font-size: x-large;">Alumni</span></a><br /> <span style="font-size: 22px;"><span style="font-size: 8px;"><br /> </span><span style="font-size: medium;">Click on Link Above<br /> </span></span>&nbsp;<span style="color: #ff0000; font-size: xx-large;"><br /> </span></strong></span><span style="font-family: times new roman; font-size: large;"><img style="vertical-align: middle;" src="https://bookstore.keene.edu/UserSettings/UserEditorImages/AlumniFrontPage1.jpg" alt="" /><br /> <br /> </span></p>"