<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<applicationSettings>
  <IMGBGCOLOR>FFFFFF</IMGBGCOLOR>
  <CREDITCARD>1</CREDITCARD>
  <SHOWISBN>0</SHOWISBN>
  <BOOKINFO>0</BOOKINFO>
  <SHOWSUB>1</SHOWSUB>
  <SHOWTRISBN>0</SHOWTRISBN>
  <USECATALOGS>1</USECATALOGS>
  <USEQUICKLINKS>0</USEQUICKLINKS>
  <EMAILADMINWITHNEWORDERS>1</EMAILADMINWITHNEWORDERS>
  <FACADMINEMAIL>shane.miller@total-computing.com</FACADMINEMAIL>
  <FACSECEMAIL>fred.tuttle@total-computing.com</FACSECEMAIL>
  <SHOPASGUEST>0</SHOPASGUEST>
  <!-- Policies -->
  <SHIPPING>1</SHIPPING>
  <REFUND>1</REFUND>
  <PRIVACY>1</PRIVACY>
  <FAQ>1</FAQ>
  <BROWSERREQS>1</BROWSERREQS>
  <!-- End Policy -->
  <!-- SelectedHomePage-->
  <HOMEPAGE>Winter Sale</HOMEPAGE>
  <!-- Sitemap Information -->
  <GMSITEMAPITEMS>283</GMSITEMAPITEMS>
  <TRSITEMAPITEMS>46050</TRSITEMAPITEMS>
  <TXSITEMAPITEMS>0</TXSITEMAPITEMS>
  <GMSITEMAPTIME>2007-11-15</GMSITEMAPTIME>
  <TRSITEMAPTIME>2007-07-02</TRSITEMAPTIME>
  <TXSITEMAPTIME>2007-07-02</TXSITEMAPTIME>
  <GMSITEMAPINFO>19513 items were last updated on 6/29/2007 8:49:15 AM</GMSITEMAPINFO>
  <TRSITEMAPINFO>46050 items were last updated on 6/29/2007 9:25:09 AM</TRSITEMAPINFO>
  <TXSITEMAPINFO>6971 items were last updated on 6/29/2007 10:22:52 AM</TXSITEMAPINFO>
</applicationSettings>
