<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="buybackConfig" type="IWEB.BuyBack, BuyBackConfig"/>
  </configSections>

  <buybackConfig category="BuyBack" DisplayPrices="true" RequireLogin="false"
      RetailBooks="true" WholesaleBooks="true" Vouchers="true" ShowBuyBackNeed="true"
      StoreCredit="true" VoucherExpire="1" enabled="true" />
</configuration>
