<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="buybackConfig" type="IWEB.BuyBack, CWSConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" restartOnExternalChanges="false"/>
    <section name="CWSAdminConfig" type="IWEB.AdminConfig, CWSConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" restartOnExternalChanges="false"/>
  </configSections>

  <connectionStrings>
  
  </connectionStrings>
  
  <buybackConfig configSource="shane.xml"/>
  <CWSAdminConfig configSource="settings.xml"/>
  
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--Database connectivity-->
    <add key="UV_USERNAME" value="tom"/>
    <add key="UV_PASSWORD" value="123tom"/>
    <add key="DBTYPE" value="UV"/>
    <add key="db_address" value="166.70.89.206"/>
    <add key="DB_ACCOUNT" value="IWEB"/>
    <add key="uvaddress" value="166.70.89.206"/>

    <add key="uvusername" value="tom"/>
    <add key="uvpassword" value="123tom"/>
    <add key="uvaccount" value="IWEB"/>
    <!--domain name -->
    <add key="DomainName" value="http://iphonedatabase.net/campuswebstore"/>
    <!--<add key="UV_USERNAME" value="webuser"/>
    <add key="UV_PASSWORD" value="Insanity1"/>
    <add key="DBTYPE" value="VU"/>
    <add key="db_address" value="137.99.90.165"/>
    <add key="DB_ACCOUNT" value="IWEB"/>
    <add key="CACHETIME" value="1"/>
    <add key="D3PORT" value="8787"/>
    <add key="ENCRYPTALL" value="NO"/>-->

    <add key="STOREID" value="1"/>
    
    <!--Merch info-->
    <add key="MERCHUSERID" value="tl112107"/>
    <add key="MERCHPASS" value="Thanksgiving"/>
    <add key="MERCHCUSTCODE" value="223"/>
    <add key="MERCHID" value="TCSLIVE"/>
    <add key="APPSURL" value="https://ssl.tlgateway.com/app.exe/TLREQUEST?="/>
    <!-- Email Information -->

  
    <!-- Email Information -->
    <add key="ERROREMAIL" value="shane.miller@total-computing.com"/>
    <add key="ADMINEMAIL" value="jeff.gardner@total-computing.com"/>
    <add key="ADMIN_SUBJECT" value="An Order has Been Placed!"/>
    <add key="SMTP_SERVER" value="zimbra.xmission.com"/>
    <add key="SMTP_PORT" value="25"/>
    <add key="FROM_ADDRESS" value="support@total-computing.com"/>
    <add key="FROM_NAME" value="TCS Support"/>
    <add key="SMTP_USERNAME" value="webmail@total-computing.com"/>
    <add key="SMTP_PASSWORD" value="fr33dom1776"/>
    <!-- END EMAIL INFORMATION -->

    <!-- important - take out for all customers other than uconn or checkout wont work -->
    <add key="UCONNTERMID" value="2006-3"/>
    <add key="uconn.faculty.UConnCourseBookService" value="http://oassrv2.uits.uconn.edu:8080/uconncoursebookservice/UConnCourseBookService?wsdl"/>
    <add key="uconnCourseBookService2.UConnCourseBookService" value="http://oassrv2.uits.uconn.edu:8080/uconncoursebookservice/UConnCourseBookService"/>
    <add key="gov.weather.www.ndfdXML" value="http://www.weather.gov/forecasts/xml/SOAP_server/ndfdXMLserver.php"/>
    <add key="TLGateWay.CCService0" value="http://services.tlgateway.com/CCService.svc"/>
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
    
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>