<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="buybackConfig" type="IWEB.BuyBack, CWSConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" restartOnExternalChanges="false" />
    <section name="CWSAdminConfig" type="IWEB.AdminConfig, CWSConfig, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" restartOnExternalChanges="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <location path="Upload">
    <system.web>
      <httpRuntime maxRequestLength="2097151" />
    </system.web>
  </location>
  <connectionStrings></connectionStrings>
  <buybackConfig configSource="shane.xml" />
  <CWSAdminConfig configSource="settings.xml" />
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Database connectivity-->
    <add key="UV_USERNAME" value="tom" />
    <add key="UV_PASSWORD" value="123tom" />
    <add key="DBTYPE" value="UV" />
    <add key="db_address" value="166.70.89.206" />
    <add key="DB_ACCOUNT" value="IWEB" />
    <add key="uvaddress" value="166.70.89.206" />
    <add key="uvusername" value="tom" />
    <add key="uvpassword" value="123tom" />
    <add key="uvaccount" value="IWEB" />
    <!--domain name -->
    <add key="DomainName" value="http://iphonedatabase.net/campuswebstore" />
    <!--<add key="UV_USERNAME" value="webuser"/>
    <add key="UV_PASSWORD" value="Insanity1"/>
    <add key="DBTYPE" value="VU"/>
    <add key="db_address" value="137.99.90.165"/>
    <add key="DB_ACCOUNT" value="IWEB"/>
    <add key="CACHETIME" value="1"/>
    <add key="D3PORT" value="8787"/>
    <add key="ENCRYPTALL" value="NO"/>-->
    <add key="STOREID" value="1" />
    <!--Merch info-->
    <add key="MERCHUSERID" value="tl112107" />
    <add key="MERCHPASS" value="Thanksgiving" />
    <add key="MERCHCUSTCODE" value="223" />
    <add key="MERCHID" value="TCSLIVE" />
    <add key="APPSURL" value="https://ssl.tlgateway.com/app.exe/TLREQUEST?=" />
    <!-- Email Information -->
    <!-- Email Information -->
    <add key="ERROREMAIL" value="shane.miller@total-computing.com" />
    <add key="ADMINEMAIL" value="jeff.gardner@total-computing.com" />
    <add key="ADMIN_SUBJECT" value="An Order has Been Placed!" />
    <add key="SMTP_SERVER" value="zimbra.xmission.com"/>
    <add key="SMTP_PORT" value="25"/>
    <add key="FROM_ADDRESS" value="support@total-computing.com"/>
    <add key="FROM_NAME" value="TCS Support"/>
    <add key="SMTP_USERNAME" value="webmail@total-computing.com"/>
    <add key="SMTP_PASSWORD" value="fr33dom1776" />
    <!-- END EMAIL INFORMATION -->
    <!-- important - take out for all customers other than uconn or checkout wont work -->
    <add key="UCONNTERMID" value="2006-3" />
    <add key="uconn.faculty.UConnCourseBookService" value="http://oassrv2.uits.uconn.edu:8080/uconncoursebookservice/UConnCourseBookService?wsdl" />
    <add key="uconnCourseBookService2.UConnCourseBookService" value="http://oassrv2.uits.uconn.edu:8080/uconncoursebookservice/UConnCourseBookService" />
    <add key="gov.weather.www.ndfdXML" value="http://www.weather.gov/forecasts/xml/SOAP_server/ndfdXMLserver.php" />
    <add key="TLGateWay.CCService0" value="http://services.tlgateway.com/CCService.svc" />
    <!-- ELEMENT CONFIGURATION -->
    <add key="USE_ELEMENT_PS" value="YES" />
    <add key="elementps_acceptable_avscodes" value="D,F,G,J,K,M,P,T,W,X,Y,Z" />
    <!-- Test -->
    <add key="elementpsaccounttoken" value="397D5620BED0DF8276879058FD0B1438220032C6069392BDA278EE08D3B0D20D6ACC7C01" />
    <add key="elementpsaccountid" value="1000842" />
    <add key="elementpsacceptorid" value="3928907" />
    <add key="elementpsterminalid" value="0001" />
    <!-- Live -->
    <!--<add key="elementpsaccounttoken" value="DB800F561FD5CDF3B0C608B31B39A4A89D4E0C43A16EFF4A7B995417DE1EB5BCE576BF01"/>
        <add key="elementpsaccountid" value="1008793"/>
        <add key="elementpsacceptorid" value="680762075890"/>
        <add key="elementpsterminalid" value="0004"/>-->
    <!-- /ELEMENT CONFIGURATION -->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages theme="Landmark">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </sessionState>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExpressSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ExpressSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://certtransaction.elementexpress.com/express.asmx" binding="basicHttpBinding" bindingConfiguration="ExpressSoap" contract="Element.ExpressSoap" name="ExpressSoap" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>