@{
    ViewBag.Title = "ForgotPassword";
    
}
<h2>
    Send Password</h2>
<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery("#btnSubmit").click(function () {
            
            jQuery("#imgLoading").show();
            
            jQuery.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Action("JsonForgotPassword","Account")',
                data: {
                    UserName: jQuery("#txtUsername").val()
                },
                success: function(data) {

                    jQuery("#imgLoading").hide();

                    if (data.success) {

                        alert('Password has been sent to your email address');
                        
                    } else {

                        jQuery("#lblError").html(data.errorMsg).show();
                    }
                }
            });
        });
    });
   
</script>
<h1 class="main_heading">Forgot Password</h1>
<div>
    <br />
    <br />
    <center>
        Type in your username, and we will email you your password on file. If your email
        address is out of date
        <br />
        please contact the bookstore for more help.</center>
    <br />
    <br />
    <label id="lblError" style="color: red;font-weight:bold">
    </label>
    <br/>
    <label>
        UserName:</label>
    <input type="text" id="txtUsername" name="txtUsername" />
    <img id="imgLoading" src="@Url.Content("~/Content/images/Mobile/loading_normal_up.gif")" alt="loading" style="display: none;"/>
    <input type="submit" id="btnSubmit" value="Email my password" />
</div>
