@{
    ViewBag.Title = "LogOut";
    
}
<h2>
    LogOut</h2>

<div style="text-align: center;" >
    <h3>
        Logging out</h3>
</div>

<div style="text-align: center;" >
    <br/>
    You have sucessfully logged out. Thank you!
</div>